@import "@/styles/config/mixins";

.payment-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: var(--theme-white);
	color: var(--theme-black);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding: 24px;
	width: 50%;
	height: 50%;

	&-btn {
		@include init-button;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 16px;
		right: 16px;
        
		svg {
			width: 100%;
			height: 100%;
		}
	}

	&-loader {
		width: 64px;
		height: 64px;
		border: 4px solid var(--theme-black);
		border-radius: 500px;
		animation: spin 1s linear infinite;
		border-right-color: transparent;
		margin: 24px auto;
	}

	svg {
		width: 128px;
		height: 128px;
	}

	&-cover {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 9;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
